*{
    margin: 0;
    padding: 0;
}
body{
    font-family: verdana;
}
.hero{
    background-color: rgba(0,0,0,0.1);
}
.main, .balance{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}
p.logo{
    padding: 19px 5px 0px 10px;
    font-size: 12px;
    font-weight: 500;
    color: purple;
}
.main>div{
    background-color: #f1f1f1;
    width: 50px;
    margin: 8px;
    text-align: center;
    line-height: 20px;    
    padding: 5px 0px 5px 0px;
    border-radius: 15px;
}
.main>div:hover {
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.1);
}
.links{
    text-decoration:none;
    font-size: 9px;
    color: black;    
}
img{
    width: 19px;
    height: 19px;
}
.content{
    padding: 15px;
}
.card{
    font-size: 26px;
    font-weight: 430;
}
.cands{
    font-size: 26px;
    font-weight: 430;
}
.show{
    float: right;
    font-size: 12px;
}
#demo{
    font-weight: 450;
    font-size: 11px;
}
.context{
    padding: 25px 19px 19px 19px;
}
.balance{
    background-color: rgba(0,0,0,0.1);
    padding: 6px;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.1);
}
.balance>div{
    width: 75px;
    margin: 8px;
    text-align: center;
    justify-content: center;
    line-height: 20px;    
    border-radius: 15px;
}
.section{
    text-decoration: none;
    color: black;
    font-size: 11px;
}
.details{
    background: linear-gradient(violet , #95ccff);
    padding:  20px 20px 6px 20px;
    color: white;
    height: 22vh;
    font-size: 13px;
    border-radius: 15px;
    border: 1px solid #95ccff;
}
.debit, .debits, .debitse, .debite{
    float: right;
}
.debits{
    margin-right: 4px;
}
img.viewer{
    width: 10px;
    height: 10px;
    float: right;
    top: 0;
    padding-top: 90px;
}
.circle1{
    background-color: orange;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.circle2{
    background-color: yellow;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 1;
    border-left: 3px solid white;
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.1);
}
.circles{
    padding-top: 25px;
    display: flex;
}
.fav{
    display: none;
}
.dropdown{
    text-align: center;
    padding-top: 25px;
}
.numeric{
    text-align: center;
    padding-top: 25px;
    letter-spacing: 0.2em;
    line-height: 1.5em;
}
.date{
    margin-left: 3px;
    font-size: 14px;
    font-weight: 600;
}
.realcard{
    padding-top: 49px;
}
.additions{
    background-color: rgba(0,0,0,0.2);
    line-height: 1em;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.2);
}
.gnds, .debite{
    font-size: 17px;
    font-weight: 400;
}
.gnde, .debitse{
    font-size: 12px;
}
.balances{
    padding: 30px 15px 15px 15px;
}
.contents{
    padding-top: 35px;
}
.dropbutn:hover .dropdown span:nth-child(2){
    display: none;
}
.dropbutn:hover .dropdown span:nth-child(1){
    display: none;
}
.dropbutn:hover .dropdown span:nth-child(3){
    display: none;
}
.dropbutn:hover .dropdown span:nth-child(4){
    display: block;
    letter-spacing: 0.1em;
}
