*{
    margin: 0;
    padding: 0;
}
body{
    font-family: verdana;
}
.hero{
    background-color: rgba(0,0,0,0.1);
}
.main{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}
p.logo{
    padding: 19px 5px 0px 10px;
    font-size: 12px;
    font-weight: 500;
    color: purple;
}
.main>div{
    background-color: #f1f1f1;
    width: 50px;
    margin: 8px;
    text-align: center;
    line-height: 20px;    
    padding: 5px 0px 5px 0px;
    border-radius: 15px;
}
.main>div:hover {
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.1);
}
.links{
    text-decoration:none;
    font-size: 9px;
    color: black;    
}
img.eye{
    width: 9px;
    height: 9px;
    float: right;
}
a.viewer img:hover{
    text-decoration: line-through;
}
img{
    width: 19px;
    height: 19px;
}
.context{
    padding: 30px 15px 15px 15px;
    margin-left: 35px;
}
input[type="search"]{
    background-color: #f1f1f1;
    color: black;
    padding: 9px;
    outline: none;
    border: none;
    border-radius: 15px;
    height: 5vh;
    width: 85%;
}
input[type="search"]:hover{
    border: 1px solid black;
    height: 6vh;
    width: 90%;
}
/***** Second Part ******/
.name{
    font-size: 13px;
    margin-left: 13px;
    padding-top: 10px;
}
p.name>span{
    font-size: 17px;
    font-weight: 450;
}
.coins{
    display: flex;
    padding: 20px 5px 5px 5px;
}
.btc{
    background-color: #fffdd0;
}
.eth{
    background-color: #ffbfff;
}
.lth{
    background-color: #d5ffbf;
}
img.examples{
    width: 80px;
    height: 70px;
    padding-top: 6px;
}
img.example{
    width: 75px;
    height: 75px;
    padding-top: 6px;
}
.btc, .eth, .lth{
    margin: 6px;
    padding: 7px;
    border-radius: 10px;
    line-height: 1.2em;
}
p.leftcoin{
    font-size: 13px;
    float: left;
    font-weight: 600;
    color: black;
    padding-top: 5px;
}
.amount{
    font-size: 11px;
    font-weight: 0;
    color: rgba(0,0,0,0.8);
}
.coiname{
    font-size: 12px;
    float: left;
}
.btc:hover{
    transform: perspective(1500px) rotateY(-180deg);
    transition: transform 2s ease;
}
.activities{
    padding: 20px 10px 10px 15px;
}
p.activites{
    font-weight: 600;
    font-size: 13px;
}
img.setting{
    height: 18px;
    width: 19px;
    float: right;
    margin-right: 7px;
    padding-top: 2px;
}
.add{
    font-size: 12px;
    text-decoration: none;
    color: black;
    background-color: #c595ff;
    text-align: center;
    padding: 4px 8px;
    float: right;
    font-weight: 0;
    margin-right: 7px;
    border-radius: 3px;
    padding-top: 4px;
}
.sects{
    padding: 5px;
}
.insurance{
    display: flex;
    flex-wrap: no-wrap;
}
.insurance>div{
    display: flex;
    padding: 10px;
}
img.stock{
    background-color: #80d6ff;
    border-radius: 5px;
    margin-right: 0px;
    padding: 7px 5px 10px 5px;
    margin-left: 5px;
}
img.stocks{
    border-radius: 5px;
    margin-right: 0px;
    padding: 7px 5px 10px 5px;
    margin-left: 5px;
    background-color: #ffaadf;
}
div>p.preview{
    margin: 0px;
}
.secure{
    color: black;
    font-size: 11px;
}
.property{
    color: rgba(0,0,0,0.5);
    font-size: 10px;
}
.insurance .insure1{
    padding-top: 16px;
    margin-right: 0;
}
.newpay{
    background-color: rgba(0,0,0,0.1);
}
.rate{
    padding: 16px;
}
.pay{
    font-size: 22px;
    letter-spacing: 0.1em;
    font-weight: 500;
}
a.clear{
    text-decoration: none;
    color: black;
    font-size: 12px;
    float: right;
    background-color: #fff;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.1);
}
.clickon{
    text-align: center;
    padding: 40px 10px 10px 10px;
    font-size: 15px;
    font-weight: 600;
}
.paymento{
    font-size: 12px;
}
.dropdown{
    padding-top: 25px;
    display: none;
    margin-left:25px;
}
#input1, select{
    width: 90%;
  padding: 14px 16px;
  justify-content: center;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 13px;
}
#input1:hover {
    outline: none;
    border: none;
}

.Newtrans{
    text-align: center;
    justify-content: center;
    float: center;
    padding-top: 18px;
}
.Newtrans:hover .dropdown{
    display: block;
    transform: translateX(-3%);
    transition:transform  5s ease;
    animation: bouncing-loader 1s  ease;
}
.trans{
    text-decoration: none;
    color: white;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    padding: 14px 100px 14px 100px;
    font-size: 12px;
    border-radius: 6px;
}
.feeter{
    padding-top: 55px;
    margin-right: 200px;
}
input[type="submit"]{
  width: 40%;
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 14px 15px;
  margin: 8px 0;
  text-align: center;
  border: none;
  border-radius:8px;
  }
img.flower{
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
input[type="submit"]:hover + .congrats{
    display: block;
    transform: translateY(2%);
}
.congrats{
    display: none;
}
.congrats>p{
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}  
@keyframes bouncing-loader {
  to {
    opacity: 0.7;
    transform: translate3d(0, -16px, 0px);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3rem 0.2rem;
  background: #000;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
